
 <div class="row">
    <div class="col">
      <p class="h5">Trending</p>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        Post
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        Post
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        Post
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        Post
      </div>
    </div>
  </div>

<div class="row">
  <div class="col">
    <p class="h5">Popular Posts</p>
  </div>
</div>

  <div class="row">
    <div class="col-8">
      <%= render "posts/list" %>
    </div>

    <div class="col-4">
      <p class="h5 mb-4">Up and coming Communities</p>
        <div class="card">
          <ul class="list-group list-group-flush">
              <% @communities.each do |community| %>
            <li class="list-group-item"><%= link_to community.name, community_path(community) %></li>
            <% end %>
         </ul>
        </div>
        <%= link_to "View All", communities_path, class: "btn btn-primary mt-3" %>
    </div>
  </div>